__pycache__/BaseLivraria.cpython-314.pyc
__pycache__/Utils.cpython-314.pyc
modules/__pycache__/__init__.cpython-313.pyc
modules/__pycache__/BaseLivraria.cpython-313.pyc
modules/__pycache__/Utils.cpython-313.pyc
